.apartment-details {
	@include clearfix();
}
	.apartment-details--left {
		text-align: center;
		@include bp($s2) {
			float:left;
			width:50%;
			text-align: right;
			
		}
	}

	.apartment-details--left--inner {
		//width: 80%;
		//display: inline-block;
		//float: right;

	}

	.apartment-details--right{
		@include bp($s2) {
			float:left;
			width:50%;
		}
	}
		
		.holdit {
			@include clearfix();
			padding:36px 12px;
			@include bp($s1){
				padding:24px;
			}
			@include bp($s2){
				padding:36px;
				max-width: 549px;
			}
			@include bp($s4){
				padding:60px 48px;
			}

			&.nohorizpadding {
				@include bp($s1){
					padding:12px;
				}
				@include bp($s2){
					padding:60px 0 12px;
					//max-width: 549px;
				}
			}

		}
		.apartment-details--right--inner-red {
			background-color: $red-main;
			color:#fff;
			font-family: $sans-serif;
		}




.apartment-3dfloormap {
	margin:2em 0;
	padding:0 12px 0 12px;
	@include bp($s2) {
		padding:0 12px 0 12px;
	}
	@include bp($s3) {
		padding:0 36px 0 12px;
	}
	@include bp($s4) {
		padding:0 48px 0 48px;
	}
	img {
		width:100%;
		max-width: 640px;
		max-height: 980px;
	}
}

.apartment-2dfloormap, .apartment-schema {
	text-align: center;
	margin:2em 0;
	vertical-align: bottom;
	@include bp($s1) {
		width:50%;
		float:left;
	}

	img {
		@include bp($s1) {
			width:100%;
		}
	}
}


.apartment-facts {
}
	.data-item {
		font-family: $panefresco;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1;
		margin:0.75em 0;
		span {
			font-family: $sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			min-width: 7.5em;
			display: inline-block;
		}
		small {
			font-family:$sans-serif;
			font-weight:400;
			font-size:14px;
		}

		&:first-child {
			margin-top: 0;
		}
		
		a {
			color:#fff;
			text-decoration: none;
			&:hover, &:focus {
				//text-decoration:underline;
				color:$green;
			}
		}
		.tooltip & {
			text-align: left;
			font-size: 14px;
			margin:0.25em 0;
			span {
				font-size: 12px;
				min-width: 5.5em;
				 
			}
			&:first-child{
				font-weight: 700;
				font-size: 1.5em;
				margin: 0.25em 0 0.5em;
			}
		}
	}


.apartment-discl {
	margin-top: 3em;
	max-width:480px;

	.btn {
		margin-top: 1.5em;
	}
}


