/* apply a natural box layout model to all elements */
*,*:before,*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* ==|== primary styles =====================================================
   Author: Gabor Szabo
   ========================================================================== */

html,
body {
  font-family: $serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: $gray-text;
  background-color: #fff;
  height: 100%;
}

a {
  color: $blue-header;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  //color: $gray-text;
}

p,span {
  /* -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; */
  -moz-font-feature-settings: "liga=1, dlig=1, onum=1";
  -moz-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -o-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
}

h1,h2,h3,h4,h5,h6{
  font-family: $sans-serif;
}

html[data-useragent*='Chrome'][data-platform*='Mac'] p {
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
}

:target:not(#comments):not(.global-nav) {
  -webkit-animation: target-fade 2s 1;
  -moz-animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
  0% { background-color: rgba(255,248,135,1); outline: 6px solid rgba(255,248,135,1);}
  100% { background-color: rgba(255,248,135,0); outline: 6px solid rgba(255,248,135,0); }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(255,248,135,.1); outline: 6px solid rgba(255,248,135,1); }
  100% { background-color: rgba(255,248,135,0); outline: 6px solid rgba(255,248,135,1); }
}


//
// Component animations
// --------------------------------------------------

.fade {
  opacity: 0;
  transition:opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in      { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.in    { display: table-row; }

tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}
