/*============= Color Definition =================*/

$red-main:#A71D3E;
$gray-main:#333232;
$gray-text:#3C3B3B;
$gray-heading:#484646;
$gray-light:#9A9898;
$green:#4AB84A;

/*============= Fonts Definition =================*/

$panefresco: 'Titillium Web', sans-serif;
$sans-serif: 'Open Sans', serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;

$s4:1280px;
$s5:1600px;

$maximum:960px;









