/*============= Color Definition =================*/

$blue-light:#8fcddd;

$blue-menuactbg:#3399cc;
$blue-link:#0078ff;
$blue-header:#008db2;
$white-menu:#6dcff6;

$blue-extralight: #b3f6ff;



$gray-text:#3a3a3a;

$egg:#fdfdf1;




/*============= Fonts Definition =================*/

$sans-serif: 'Helvetica Neu', 'Roboto', sans-serif;
$serif: 'Libre Baskerville', serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:960px;









