.thechooser{
	background-color: $red-main;
}
.visual-chooser {
	position:relative;
	width:100%;
	padding-top:56.25%;

	background-color: $red_main;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
	
	&.visual-chooser-starter{
		background-image: url(../img/Arolia_Starter_CD_small.jpg);
		@include bp($s2) {
			background-image: url(../img/Arolia_Starter_CD_medium.jpg);
		}
		@include bp($s3) {
			background-image: url(../img/Arolia_Starter_CD_large.jpg);
		}
		@include bp($s4) {
			background-image: url(../img/Arolia_Starter_CD_full.jpg);
		}
	} 
}

.text-chooser {
	font-family: $sans-serif;
	margin:4em 0;
	color:#fff;
	
}