.thechooser{
	background-color: $red-main;
}
.visual-chooser {
	position:relative;
	width:100%;
	  backface-visibility: hidden;

	background-color: $red_main;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
	
	&.visual-chooser-starter{
		background-image: url(../img/Arolia_Starter_CD_small.jpg);
		@include bp($s2) {
			background-image: url(../img/Arolia_Starter_CD_medium.jpg);
		}
		@include bp($s3) {
			background-image: url(../img/Arolia_Starter_CD_large.jpg);
		}
		@include bp($s4) {
			background-image: url(../img/Arolia_Starter_CD_full.jpg);
		}
	}

	svg {
		display: block;
	}

	.btn{
		right:12px;
		bottom:24px;
		position: absolute;
		right:6px;
		bottom: 12px;
		font-size: 12px;
		@include bp($s2) {
			font-size: 14px;
			right:24px;
			bottom: 24px;
		}
		@include bp($s3) {
			font-size: 16px;
			right:36px;
			bottom: 24px;
		}
		@include bp($s5) {
			right:48px;
			bottom: 36px;
		}
	} 
}

.text-chooser {
	font-family: $sans-serif;
	margin:4em 0;
	color:#fff;
	
}