.navbar-brand {
	font-family: $sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	padding:0.333em 0;
	&:hover, &:focus {
		color: $gray-light;
		text-decoration: none;
	}
	@include bp($s2){
		float:left;
	}
}
.navbar {
	background-color: $red-main;
	color:#fff;
	.wrapper-wide{
		padding-top:1em;
		padding-bottom: 1em;
	}
}

