.navbar-nav {
	list-style-type: none;
	margin:0;
	padding:0;
	@include bp($s2){
		float:right;
		text-align:right;
	}
	li {

		@include bp($s2){
			display: inline-block;
			margin-left:12px;
		}
		> a {
			color:#fff;
			display: inline-block;
			font-family: $sans-serif;
			font-weight: 700;
			font-size: 13px;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			padding:0.333em 0.666em;
			border:1px solid transparent;
			&:hover, &:focus {
				border-color: #fff;
				text-decoration: none;
			}

			@include bp($s2){
				display: inline-block;

			}
		}
	}
}