.navbar-nav {
	list-style-type: none;
	margin:0 0 0;
	padding:4em 0;
	text-align: center;


	
	transform: translateY(-25%) scale(0.75);
	transition: transform 0.5s;

	input[type="checkbox"]#nav-toggle:checked + .navbar & {
		transform: translateY(0) scale(1);
	}

	@include bp($s2){
		transform:none;
		margin:0;
		padding:0;
		float:right;
		text-align:right;
	}
	li {

		margin:0.5em;


		@include bp($s2){
			display: inline-block;
			margin:0;
			margin-left:12px;
		}

		> a {
			color:#fff;
			display: inline-block;
			font-family: $sans-serif;
			font-weight: 700;
			font-size: 20px;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			padding:0.333em 0.666em;
			border:1px solid transparent;
			&:hover, &:focus {
				border-color: #fff;
				text-decoration: none;
			}
			



			@include bp($s2){
				display: inline-block;
				font-size: 13px;

				.whitebg & {
					color:$red-main;
					&:hover, &:focus {
						border-color: $red-main;
					}
				}

			}
		}
	}

	li.face {
		> a {
			&:before {
				display: inline-block;
				font-family: "Ionicons";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content:"\f231";
			}
		}
	}

}






/********* Prev/Next Link ********/
a[rel="next"], a[rel="prev"] {
	font-size: 4em;
	line-height: 1;
	padding:0 0.25em;
	text-align: center;
	text-decoration: none;
	color:$red_main;
	display: inline-block;
	&:hover, &:focus {
		color:$gray-light;
	}
	i {

	}
	
}

.page-header {
	a[rel="next"], a[rel="prev"] {
		position:absolute;
		top:0.333em;

	}
	a[rel="next"] {
		right:0;

	}
	a[rel="prev"] {
		left:0;
	}


}


