.main-object {
	background-color:$red_main;
	color:#fff;

	.page-header{
		margin:0;
		padding:2em 0;
		background-color:#fff;
		h1,h2,h3 {
			color:$red-main;
		}
	}
}


/****************** Apartment Data Row **************/
.apartment-datatable {
	margin:4em 0;
	display:table;
	border-collapse:collapse;
	width:100%;
	font-family:$sans-serif;
	font-size:12px;
	line-height:1;
	@include bp($s2){
		font-size:14px;	
	}
}
.apartment-datarow{
	display:table-row-group;
	//width:100%;
}

	.apartment-datarow--link {
		display:table-row;
		//width:100%;
		//border:1px solid transparent;
		color:#fff;
		&:hover, &:focus {
			outline:1px solid #fff;
			text-decoration: none;
		}
	}

	.apartment-datarow--cell {
		display:table-cell;
		padding:0.5em 0.666em;
		text-align:center;
		vertical-align: middle;

	}